<header class="header__wrapper">
    <div class="header__left">
        IoT Power Meter
    </div>
    <div class="header__right">
        <mat-icon
            class="header__right-icon"
            aria-hidden="false"
            aria-label="Example home icon"
            matBadge="15"
            matBadgeColor="warn"
        >mail</mat-icon>
        <mat-icon
            class="header__right-icon"
            aria-hidden="false"
            aria-label="Example home icon"
        >person</mat-icon>
    </div>
</header>
