<header class="statistics--options">
    <mat-form-field>
        <mat-label>Select device</mat-label>
        <mat-select
            [(value)]="selectedDevice"
            name="device"
            (selectionChange)="onDeviceChange($event)"
        >
            <mat-option [value]="allDevicesSelected">All</mat-option>
            <mat-option *ngFor="let device of devices" [value]="device.deviceId">
                {{ device.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-time-frame (timeFrameChangeEmitter)="onTimeFrameChange($event)"></app-time-frame>
</header>

<div class="electricity-graphs">
    <app-current
        *ngIf="currentData.length"
        class="electricity-graphs--current card"
        [timeFrame]="timeFrame"
        [data]="currentData">
    </app-current>
    <app-voltage
        *ngIf="voltageData.length"
        class="electricity-graphs--voltage card"
        [timeFrame]="timeFrame"
        [data]="voltageData">
    </app-voltage>
</div>
<app-consumption
        *ngIf="consumptionData.length"
        class="consumption-graph card"
        [timeFrame]="timeFrame"
        [data]="consumptionData">
</app-consumption>

