:host {
    width: 100%;
    height: 100vh;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0 1rem;
}

.electricity-graphs {
    display: flex;

    &--voltage,
    &--current {
        flex: 1;
    }
}
