<app-time-frame (timeFrameChangeEmitter)="onTimeFrameChange($event)"></app-time-frame>
<div class="electricity-graphs">
    <app-current
        *ngIf="currentData.length"
        class="electricity-graphs--current"
        [timeFrame]="timeFrame"
        [data]="currentData">
    </app-current>
    <app-voltage
        *ngIf="voltageData.length"
        class="electricity-graphs--voltage"
        [timeFrame]="timeFrame"
        [data]="voltageData">
    </app-voltage>
</div>

<app-consumption
    *ngIf="consumptionData.length"
    class="consumption-graph"
    [timeFrame]="timeFrame"
    [data]="consumptionData">
</app-consumption>
