<nav class="navigation__wrapper">
    <ul class="navigation__menu">
        <li class="navigation__menu-item">
            <mat-icon
            class="navigation__menu-item-icon"
                aria-hidden="false"
                aria-label="Example home icon"
            >insert_chart_outlined</mat-icon>
            <span>Dashboard</span>
        </li>
        <li class="navigation__menu-item">
            <mat-icon
                class="navigation__menu-item-icon"
                aria-hidden="false"
                aria-label="Example home icon"
            >tv</mat-icon>
            <span>Devices</span>
        </li>
    </ul>
</nav>
